#titlebar {
	-moz-box-ordinal-group: 3  !important;
	background: var(--gray)    !important;
}

/* Tabs de ancho completo */
#TabsToolbar,
.tabbrowser-tab[fadein]:not([pinned]) {
	flex-grow: 1     !important;
	min-width: 11em  !important;
	max-width: 100%  !important;
}
/* Tabs con texto centrado */
.tab-content {
	display: flex            !important;
	justify-content: center  !important;
	align-items: center      !important;
}

.toolbar-items{
	background-color: var(--gray); !important;
	color: var(--primary)   !important;
}

.tabbrowser-tab {
	--tab-line-color: none  !important;
}
