#titlebar {
	background-color: var(--gris) !important;
	-moz-box-ordinal-group: 3 !important;
}

.titlebar-buttonbox-container {
    display: none;
}

#tabbrowser-tabs {
	--tab-line-color: none !important;
}

.tabbrowser-tab {
	color: var(--blanco) !important;
}
.tabbrowser-tab[selected] .tab-background {
	background: var(--negro) !important;
}
