#urlbar {
	box-shadow: none                    !important;
	background-color: var(--secondary)  !important;
	color: var(--primary)               !important;
}

#nav-bar,
#urlbar-background,
#urlbar-input-container {
	background: var(--secondary) !important;
	color: var(--primary)        !important;
}

#back-button,
#forward-button,
#pageActionButton,
#tracking-protection-icon-container,
.tab-close-button {
	display: none !important;
}

/* Megabar deshabilitada */
#urlbar[breakout][breakout-extend] {
	top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
	left: 0px   !important;
	width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
	height: var(--urlbar-height) !important;
	padding-inline: 0            !important;
	padding-block: 0             !important;
}
