@import '_variables.css';

@-moz-document url("about:home"), url("about:newtab"){
  .activity-stream {
    background-color: var(--grisobscuro)!important;
  }
  #newtab-search-text {
  	background-color: var(--gray)!important;
  	color: black !important;
  }
  .search-wrapper:active input, .search-wrapper input:focus {
	border-color: white !important;
	box-shadow: 0 0 0 1px black !important;
  }

}
@-moz-document url("about:blank") {
  *:empty:not([id]):not([style]) {
    background-color: #0e0e0f !important;
  }
}
