@import '_variables.css';

@-moz-document url ("about:blank") {
  *:empty:not([id]):not([style]) {
    background-color: var(--blacno) !important;
  }
}

@-moz-document url ("about:home"), url ("about:newtab"){
	.activity-stream {
		background: var(--blanco) !important;
  }

  #newtab-search-text {
  	background: #ffffff !important;
  	color: #222 !important;
  }

 .wordmark,
 .search-wrapper,
 .logo-and-wordmark {
	fill: var(--gris) !important;
 }
}
