@import '_variables.css';

* {
	border: 0px;
}

@-moz-document url("about:home"), url("about:newtab"){
	.activity-stream {
		background: var(--blanco) !important;
  }

  #newtab-search-text {
  	background: #ffffff !important;
  	color: #222 !important;
  }

 .search-wrapper .logo-and-wordmark .wordmark {
	fill: var(--gris) !important;
 }
}
@-moz-document url("about:blank") {
  *:empty:not([id]):not([style]) {
    background-color: var(--blacno) !important;
  }
}
